.section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
    flex-wrap: wrap; 
    overflow: hidden; 
}
.union{
    width: 100%;
}
.union image{
    width: 100%;
}
section{
    width: 100%;
}

@media (max-width: 768px) {
    .union{
        display: none;
    }
}